extends layout.pug

block content
    // pug-file to refer all  navbar-links to, except of "HOME" which refers to index-page.
    .container
        div(class="alert alert-success" role="alert")
            h1(class="alert-heading") COMING SOON...
            h6.text-center Stay tuned! 
             nav.navbar.navbar-expand-lg.navbar
              a.navbar-brand(href='/' style="color:#00cc64") HOME
              a.navbar-brand(href='/' style="color:#00cc64") GO BACK
              
        div
            .span12
              form.form-horizontal(action='logged_in' method='POST')
                fieldset
                  #legend
                    legend Login
                  .control-group
                    // Username
                    label.control-label(for='username') Username
                    .controls
                      input#username.input-xlarge(type='text' name='username' placeholder=' e.g., spaceman' required)
                  .control-group
                    // Password
                    label.control-label(for='password') Password
                    .controls
                      input#password.input-xlarge(type='password' name='password' placeholder=' At least 4 characters' required)
                  .control-group
                    // Button
                    .controls
                      button.btn.btn-success Login
              
        footer(class="footer" style="margin-top: 70%") &copy; All rights reserved