extends layout.pug

block content
    
    .container
        h1 Hello #{data.username}!
        p Thanks for signing up with following email account: </br> #{data.email}! </br> You can login now:
        
        .row
        .span12
          form.form-horizontal(action='logged_in' method='POST')
            fieldset
              #legend
                legend Login
              .control-group
                // Username
                label.control-label(for='username') Username
                .controls
                  input#username.input-xlarge(type='text' name='username' placeholder=' e.g., spaceman')
              .control-group
                // Password
                label.control-label(for='password') Password
                .controls
                  input#password.input-xlarge(type='password' name='password' placeholder=' At least 4 characters')
              .control-group
                // Button
                .controls
                  button.btn.btn-success Login
        footer(class="footer" style="margin-top: 50%") &copy; All rights reserved
				  
    if login_error
        div(class="alert alert-danger" role="alert") #{login_error}
        
        footer(class="footer" style="margin-top: 50%") &copy; All rights reserved